# Automatically normalize line endings across platforms
* text=auto

# File types that should be tracked by LFS:

# Document
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text

# 3D
*.[fF][bB][xX] filter=lfs diff=lfs merge=lfs -text

# Font
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs -text

# Image
*.[eE][xX][rR] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text

# Audio
*.[oO][gG][gG] filter=lfs diff=lfs merge=lfs -text
*.[wW][aA][vV] filter=lfs diff=lfs merge=lfs -text